.alert-box{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 1rem;
    border:1px solid rgba(0,150,100,0.8);
    border-radius:4px;
    max-width: 500px;
    width:100%;
    margin:4px auto;
}

.alert-destroy{
    background-color: transparent;
    outline:none;
    border:none;
    color:#007e33;
    font-size:1.5rem;
    cursor: pointer;
    transition:transform 0.2s;
    
}

.alert-destroy:hover{
    transform:scale(1.5);
}

.alert-success{
    background-color: rgba(0,150,100,0.5);
    color:#007e33;
}

.alert-primary{
    background-color: rgba(150,0,100,0.5);
    color:#7e0033;
}

.alert-danger{
    background-color: rgba(150,100,0,0.5);
    color:#33007e;
}
